.creator {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.creator:hover{
    background-color: #3e8f28;
    /* Firefox */
    -moz-transition: all 0.1s ease-in;
    /* WebKit */
    -webkit-transition: all 0.1s ease-in;
    /* Opera */
    -o-transition: all 0.1s ease-in;
    /* Standard */
    transition: all 0.1s ease-in;
}

.creator__details {
    display: flex;
    align-items: center;
}

.creator > div > img {
    object-fit: contain;
    margin-right: 5px;
    width: 40px;
    border-radius: 50%;
}