.sidebar {
    /* padding: 10px; */
    width: 14%;
    background-color: #313232;
    /* height: 175vh; */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sidebar__top {
    flex: 1;
    padding-right: 15px;
}

.sidebar__top > h5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar__topShowMore {
    color: #3e8f28;
    cursor: pointer;
}

.sidebar__bottom {
    position: fixed;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #181c21;
}

.sidebar__bottomContainer {
    background-color: #181c21;
    width: 90%;
    display: flex;
    height: 2.5rem;
    border-radius: 8px;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}

.sidebar__bottomContainer > input {
    outline: none;
    background-color: transparent;
    width: 100%;
    margin-left: 10px;
    font-size: large;
    border: none;
}