.stream {
    height: 50%;
    display: grid;
    place-items: center;
}

.stream__status {
    width: 400px;
    height: 295px;
    background-color: #181c21  ;
    margin-right: 30px;
}

.stream__statusContainer {
    margin: 25px;
    display: flex;
    flex-direction: column;
    height: 245px;
}

.stream__statusIndicator {
    background-color: #f7fff7;
    color: #394048;
    border-radius: 8px;
    width: fit-content;
    padding: 5px 10px;
}

.stream__statusContainerTop {
    flex: 1;
}

.stream__statusInfo {
    display: flex;
    align-items: center;
}

.stream__statusInfo > i {
    margin-right: 20px;
}

.stream__status > div > h2 {
    font-size: 35px;
}

.stream__video {
    height: 295px;
    width: 500px;
}

.stream__videoEmbed {
    height: 295;
    width: 500;
}