.header {
    height: 5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #292f36;
    z-index: 100;
    position: sticky;
    top: 0;
}

.header__left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header__leftLogo {
    object-fit: contain;
    height: 3rem;
    margin-left: 20px;
}

.header__left > h2 {
    margin: 15px;
    font-size: medium;
}

.header__left > h2:hover, i:hover {
    cursor: pointer;
    color: #3e8f28;
        /* Firefox */
    -moz-transition: all 0.1s ease-in;
    /* WebKit */
    -webkit-transition: all 0.1s ease-in;
    /* Opera */
    -o-transition: all 0.1s ease-in;
    /* Standard */
    transition: all 0.1s ease-in;
}

.header__verticalLine {
    border-left: 1px solid #394048;
    height: 3rem;
}

.header__left > i {
    margin-left: 15px;
}

.header__center {
    background-color: #394048;
    height: 3.5rem;
    display: flex;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
}

.header__center > input {
    outline: none;
    background-color: transparent;
    flex: 1;
    margin-left: 15px;
    font-size: large;
    border: none;
}

.header__centerLogoContainer {
    background-color: #181c21;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header__rightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__rightContainer > i, .header__rightContainer > div {
    margin: 20px;
}

.header__rightGems {
    display: flex;
    align-items: center;
    background-color: #181c21;
    height: 3.5rem;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 15px;
}

.header__rightGems > i {
    margin-right: 5px;
}